<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">
  <section id="plugin.video.stv">
    <category id="provider" label="30010" help="">
      <group id="credentials" label="30011">
        <setting id="xtream_url" type="string" label="30012" help="30013">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30012</heading>
          </control>
        </setting>
        <setting id="xtream_username" type="string" label="30014" help="">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30014</heading>
          </control>
        </setting>
        <setting id="xtream_password" type="string" label="30015" help="">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30015</heading>
            <hidden>true</hidden>
          </control>
        </setting>
      </group>
    </category>
    <category id="metadata" label="30020" help="">
      <group id="tmdb" label="30021">
        <setting id="tmdb_language" type="string" label="30023" help="">
          <level>0</level>
          <default>pt-BR</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30023</heading>
          </control>
        </setting>
      </group>
    </category>
    <category id="parental" label="30040" help="">
      <group id="security" label="30041">
        <setting id="parental_pin" type="string" label="30042" help="30043">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30042</heading>
            <hidden>true</hidden>
          </control>
        </setting>
      </group>
    </category>
    <category id="advanced" label="30030" help="">
      <group id="cache" label="30031">
        <setting id="cache_ttl_hours" type="integer" label="30032" help="30033">
          <level>0</level>
          <default>12</default>
          <constraints>
            <options>
              <option label="30034">6</option>
              <option label="30035">12</option>
              <option label="30036">24</option>
              <option label="30037">48</option>
            </options>
          </constraints>
          <control type="spinner" format="string">
            <heading>30032</heading>
          </control>
        </setting>
      </group>
    </category>
  </section>
</settings>
